body {
    background-color: rgb(38, 43, 68);
}

.caixa{
    text-align: center;
}

.content {
    color: aliceblue;
}

#name {
    width: 190px;
    height: 34px;
    border-radius: 8px;
}

.primary {
    background-color: rgb(125, 236, 125);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.secundary {
    background-color: rgb(248, 39, 39);
    color: aliceblue;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}