body {
    background-color: rgb(38, 43, 68);
}

.caixa{
    text-align: center;
    border-radius: 8px;
}

.content {
    text-align: center;
    color: aliceblue;
    height: 100%;
    border-radius: 8px;
}

img {
    border-radius: 5px;
}

#name {
    width: 250px;
    height: 40px;
    border-radius: 8px;
}

.primary {
    background-color: rgb(125, 236, 125);
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.secundary {
    background-color: rgb(248, 39, 39);
    color: aliceblue;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}